<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' *.example.com"
    /> -->
    <meta
      name="viewport"
      content="height=device-height, width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="ZeroBox" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="ZeroBox AI client" />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <!-- <link rel="manifest" href="%PUBLIC_URL%/manifest.json" /> -->
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>ZeroBox</title>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-B365F44W6E"
    ></script>
    <script
      defer
      data-domain="app.chatboxai.app"
      src="https://plausible.midway.run/js/script.local.hash.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      // gtag('config', 'G-B365F44W6E');
    </script>
    <script>
      var initialTheme = localStorage.getItem("initial-theme");
      if (initialTheme === "light" || initialTheme === "dark") {
        document.documentElement.setAttribute("data-theme", initialTheme);
        document.documentElement.setAttribute(
          "data-mantine-color-scheme",
          initialTheme
        );
      }
    </script>
    <style>
      html[data-theme="dark"] {
        background-color: #242424;
      }

      .splash-screen {
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        background-color: #fff;
        overflow: hidden;
      }
      html[data-theme="dark"] .splash-screen {
        background-color: #242424;
      }

      .splash-screen-top {
        flex: 2;
      }
      .splash-screen-bottom {
        flex: 3;
        width: 100%;
        position: relative;
      }
      .splash-screen-content {
        flex: 0 0 auto;
        position: relative;
      }

      .splash-screen-logo {
        display: block;
        color: #495057;
      }
      html[data-theme="dark"] .splash-screen-logo {
        color: #ced4da;
      }

      .splash-screen-logo-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #dee2e6;
      }
      html[data-theme="dark"] .splash-screen-logo-bg {
        color: #495057;
      }

      .splash-screen-fade-out {
        animation: fade-out 0.5s ease-in-out forwards;
      }

      @keyframes fade-out {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    </style>
  </head>

  <body>
    <div id="root"></div>
    <div class="splash-screen">
      <div class="splash-screen-top"></div>
      <div class="splash-screen-content">
        <img class="splash-screen-logo" width="96" height="96" src="/favicon.ico" alt="ZeroBox" />

        <svg
          class="splash-screen-logo-bg"
          width="660"
          height="660"
          viewBox="0 0 660 660"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            opacity="0.6"
            cx="331"
            cy="330"
            r="229.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            opacity="0.5"
            cx="330"
            cy="330"
            r="254.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            opacity="0.8"
            cx="330"
            cy="330"
            r="179.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            opacity="0.9"
            cx="331"
            cy="330"
            r="154.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            cx="330"
            cy="330"
            r="129.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            opacity="0.7"
            cx="331"
            cy="330"
            r="204.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            opacity="0.4"
            cx="331"
            cy="330"
            r="279.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            opacity="0.3"
            cx="330"
            cy="330"
            r="304.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
          <circle
            opacity="0.2"
            cx="330"
            cy="330"
            r="329.75"
            stroke="currentColor"
            stroke-width="0.5"
          />
        </svg>
      </div>
      <div class="splash-screen-bottom" id="log-root"></div>
    </div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
  </body>
</html>
